#advancedNewTagsSection {
    /*display: none;*/
}

/*Hide some stuff from bootstrap that we don't need/want*/
ul.breadcrumb {
    display: none;
}

div.container a.brand {
    display: none;
}

div.footer {
    display: none;
}
/*end*/
