#advancedNewTagsSection {
    /*display: none;*/
}

/*Settings for the text view*/
div.text-view {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    background: none;
    border: none;
}

div.text-view a {
    color: black;
}

div.text-view p{
    color: black;
}

/*Settings for the drag view*/
div.drag-view {
    margin: 0px;
    float: left;
    background: none;
    border: none;
}


div.drag-view div#text{
    padding: 15px;
}

#content a.link-overlay {
    border-bottom: none !important;
}

div.drag-view a {
    color: black;
    text-decoration: none;
}

div.drag-view p{
    color: black;
}


div.drag-view:hover, div.ui-draggable-dragging {
    background-color: #E8E8E8;
    border: 1px solid black;
}


/*Hide/show stuff on hover and when dragging*/
div.drag-view a, div.drag-view p, div.drag-view:hover img {
    display: none;
}

div.drag-view:hover a, div.drag-view:hover p, div.drag-view img, div.ui-draggable-dragging a, div.ui-draggable-dragging p {
    display: block;
}

/*Must be after the previous one so it is not overwritten*/
div.ui-draggable-dragging img {
	display: none;
}



div.kssattr-fieldname-form\.widgets\.all_tags, ul#all-tags-list{
    position: absolute;
    z-index: 400;
    display:none;
    margin-top: 15px;
/*    margin-left: 100%;
    width: 100%;
    height: 100%;*/
    background-color: white;
    padding: 20px;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}

li.selected{
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #ccc;
}

div.overlay-iframe{
    width: 95% !important;
    height: 95% !important;
    max-width: 95% !important;
    max-height: 95% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    left: 0 !important;
    top: 0 !important;

}

iframe{
    width: 100% !important;
    height: 100% !important;
    border: 1px solid;
    border-radius: 10px;
}


/*Hide some stuff from bootstrap that we don't need/want*/
ul.breadcrumb {
    display: none;
}

div.container a.brand {
    display: none;
}

div.footer {
    display: none;
}
/*end*/

div.kssattr-fieldname-form\.widgets\.all_tags{
    position: absolute;
    z-index: 400;
    display:none;
    margin-top: 15px;
    margin-left: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}

div.overlay-iframe{
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    left: 0 !important;
    top: 0 !important;

}

iframe{
    border: 1px solid;
    border-radius: 10px;
}


div#homepage-div {
    min-height: 600px;
    max-width: 100%;
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    /*border:1px solid red;*/
}

div#tag-description-div {
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 600px;
    float: left;
    position: relative;
    /*border:1px solid red;*/
}

div.full-width {
    width: 100%;
}

div.half-width {
    width: 50%;
}
