/**
 * Global settings
 */

/*This will hide scrollbars (they'll still work)*/
/*::-webkit-scrollbar {
    display: none;
}*/

input, button, select, textarea {
    font-family: Helvetica,Arial,sans-serif;
}

/* Content types */
.icons-on .contenttype-tribuna-content-article,
.icons-on .contenttype-tribuna-content-entrypage {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px !important;
    background: url("../img/contenttypes-sprite.png") no-repeat scroll 0 4px transparent;
}
.icons-on .contenttype-tribuna-annotator-annotation {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px !important;
    background: url("++theme++tribuna.diazotheme/img/annotation_icon.png") no-repeat scroll 0 transparent;
}
.icons-on .contenttype-tribuna-content-tag {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px !important;
    background: url("++theme++tribuna.diazotheme/img/tag_icon.png") no-repeat scroll 0 transparent;
}

/*Register forms*/
body.template-register #content input {
    height: 20px;
    line-height: 20px;
    font-size: 17px;
    padding: 0px 5px 0px 5px;
}

/*All "title" field letters are too big!*/
#content .field input[type="text"][name$=".title"] {
    height: 26px;
    line-height: 26px;
    font-size: 21px;
    padding: 0px 5px 0px 5px;
}

/*Hide the useless search box*/
#topsearchbox {
    display: none;
}

.template-login_form #action-bar,
.template-logged_out #action-bar {
    display: none;
}
html {
    overflow-y: auto;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.button,
input[type="submit"] {
    /*font-size: 100%;
    padding: 0.2em 1.6em;*/
    text-transform: lowercase;

    border-top: 1px solid #96d1f8;
    background: #0000ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000ff), to(#0000ff));
    background: -webkit-linear-gradient(top, #0000ff, #0000ff);
    background: -moz-linear-gradient(top, #0000ff, #0000ff);
    background: -ms-linear-gradient(top, #0000ff, #0000ff);
    background: -o-linear-gradient(top, #0000ff, #0000ff);
    padding: 7.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    /*width: 100px;*/
    width: auto;
    height: 20px;
    line-height: 20px;
    padding-top: 0px;
}

.button:hover, input[type="submit"]:hover {
   border-top-color: #0000ff;
   background: #0000ff;
   color: #ffffff;

   }

form#login-form,
a.login-page-registration {
    font-size: 20px;
    line-height: 25px;
}
form#login_form {
    margin-left: 230px;
}
form#login_form label {
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 50px;
    text-align: left;
}
#login-form input[type="submit"].login-page {
    background: yellow;
    color: black;
    font-size: 15px;
    line-height: 15px;
    height: 20px;
    padding-top: 1px;
    padding-bottom: 3px;
    border: solid 1px #ccc;
    margin-top: -10px;
}
.field input[type='text'].login-page,
.field input[type='password'].login-page {
    margin: 10px 20px 10px 0px;
    padding: 0;
    width: 80px;
    height: 20px;
    font-size: 15px !important;
}
a.login-page-registration {
    color: black;
    text-decoration: underline;
}
div.login-form-inside-div, form#login_form .field {
    float: left;
    clear: both;
    margin: 0px;
}
div.login-page-registration {
    margin-top: 40px;
    margin-left: 230px;
}
div.login-form-inside-div-submit {
    float: left;
    margin: 0px;
}
div.login-page-forgot-password {
    margin-left: 230px;
    margin-top: 100px;
    text-align: left;
}
a.login-page-forgot-password {
    margin-top: 100px;
    color: black;
    text-decoration: underline;
    font-size: 90px;
    line-height: 95px;
}

a.selected {
    text-decoration: underline;
}
.submit-widget.button-field {
    color: white;
    background-color: blue;
    background-image: none;
}
.userrole-anonymous #action-bar {
    display: none;
}

/**
 * Entry page
 */

body.portaltype-tribuna-content-entrypage {
    padding-left: 0;
    padding-right: 0;
}

body.portaltype-tribuna-content-entrypage .formControls input[type='submit']{
    width: 100px;
    height: 20px;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

#container .entrypage-top-button {
    /*height: 16px; 20 - border*/
    line-height: 16px;
    width: 116px; /*120 - border*/
    padding: 0px;
    text-align: center;
}

#entrypage-form .formControls {
    margin: 0;
}
#change-form-multiple .ui-widget-content {
    height: 200px;
}
#entrypage-form #form-widgets-picture-input {
    padding: 0;
    box-shadow: none;
    border: none;
}
#entrypage-form-close {
    display: inline-block;
    float: right;
}
.field input[type="text"],
.field input[type="password"],
.field textarea,
#entrypage-form .field input,
#entrypage-form .text-field {
    border-width: 2px;
    border-right-color: rgb(167, 167, 167);
    border-top-color: rgb(218, 218, 218);
    border-left-color: rgb(238, 238, 238);
    border-bottom-color: rgb(112, 112, 112);
    box-shadow: none;
    border-radius: 0;
    /*padding: 10px;
    padding-left: 15px;*/
    -webkit-box-sizing: border-box;
/*    -moz-box-sizing: border-box;*/
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/*.field input[type="text"],
.field input[type="password"],*/
#entrypage-form .field input {
    width: 200px;
    height: 20px;
}

#entrypage-form .text-field {
    height: 3em;
}
#entrypage-form .field select {
    width: 210px;
}

#entrypage-form-container {
    background-color: cyan;
    margin: 20px 0 0;
    padding: 0.75em;
    width: 9em;
    z-index: 1;
    position: absolute;
    left: 20px;
}

#entrypage-form-container.expanded {
    background-color: white;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-left-color: rgb(131, 131, 131);
    border-top-color: rgb(202, 202, 202);
    border-right-color: rgb(238, 238, 238);
    border-bottom-color: rgb(112, 112, 112);
    box-shadow: none;
    text-align: left;
    width: 260px;
}

#entrypage-form-container a {
    color: black;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}

#entrypage-form-container #entrypage-link {
    font-weight: normal;
    cursor: pointer;
}

#entrypage-form-container.expanded #entrypage-link {
    color: red;
}

#entrypage-form .accordion {
    margin-top: 2em;
    margin-bottom: 8px; /*Base is 18, lower by 10*/
    float:left;
}
.accordion-body.collapse form {
    margin-bottom: 8px;
}

#entrypage-form .accordion-group {
    border: none;
}
#entrypage-form.in.collapse{
    height: auto !important;
}

#entrypage-form .accordion-heading .accordion-toggle {
    padding: 0;
}

div.entrypage-text-container {
    position: relative;
    width: 100%;
    margin-top: 140px;
    z-index: -1;
    word-wrap: break-word;
}
div.entrypage-text-container p#entrypage-text {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 800px;
}

#entrypage-author-title {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#entrypage-author {
    font-weight: bold;
    font-style: italic;
}

#entrypage-title {
    font-weight: bold;
}


#entrypage-text {
    z-index: -1;
}

#entrypage-home-link {
    background-color: cyan;
    margin: 20px 40% 0;
    padding: 0.75em;
    width: 9em;
    position: absolute;
}

#entrypage-home-link a {
    color: black;
}

#text-container p{
    text-align: center;
    color:#000;
    font: 95px/1 Arial;
    display: block;
    /*text-shadow:#000000 -1px 1px 0,
    #000000 -2px 2px 0,
    #000000 -3px 3px 0,
    #000000 -4px 4px 0;*/
}

#text-container p.arial {
    font-family: Arial, sans-serif;
}
#text-container p.times {
    font-family: Times, "Times New Roman", Arial;
}
#text-container p.helvetica {
    font-family: Helvetica, Arial, sans-serif;
}
#text-container p.impact {
    font-family: Impact, Arial, sans-serif;
}
#text-container p.cursive {
    font-family: cursive, Arial, sans-serif;
}
#text-container p.lucida {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}




#form-widgets-picture-input {
    border-width: 2px;
    border-right-color: rgb(167, 167, 167);
    border-top-color: rgb(218, 218, 218);
    border-left-color: rgb(238, 238, 238);
    border-bottom-color: rgb(112, 112, 112);
    box-shadow: none;
    padding: 0;
    padding-left: 15px;
    box-shadow: none;
}

.accordion-body.collapse form {
    margin-left: 30px;
}


/**
 * End entry page
 */



/**
 ************************************
 *                                  *
 *           HOME PAGE              *
 *                                  *
 ************************************
 */

/**
 * Settings for the header
 */
div#topside-tags {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}
div#topside-tags.has-tags {
    margin-bottom: 50px;
}

div#selected-tags {
    width: 125px;
}
div#topside-content {
    float: right;
}
#tag-picture img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/**
 * End settings for the header
 */


/**
 * Settings for the text view
 */
div.text-view {
    margin: 0 0 50px;
    /* XXX: needed for intersection/union? */
    /*margin-left: 15px;*/
    background: none;
    border: none;
}
div.text-view .content-type {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
}

#right-column-content .text-view {
    margin-bottom: 30px;
}
div.text-view-article,
div.text-view-comment,
div.text-view-annotation,
div.text-view-article-one,
div.text-view-comment-one,
div.text-view-annotation-one,
div#articles h5 {
    font-size: 20px;
    line-height: 25px;
    font-family: sans-serif;
}
div.text-view-comment,
div.text-view-comment-one,
div.text-view-annotation,
div.text-view-annotation-one {
    font-family: Georgia, serif;
    font-size: 22px;
    line-height: 25px;
}
div.text-view-article-one,
div.text-view-comment-one,
div.text-view-annotation-one {
    font-size: 14.7px;
    line-height: 20px;
}
#right-column h3.portlet-header {
    font-size: 20px;
    line-height: 25px;
}

div.text-view a, div.text-view p {
    color: black;
    margin-bottom: 0;
}

div#gallery-link p {
    color: black;
    margin-bottom: 0;
}

a.article-author, a.article-header, a.article-subtitle {
    font-family: Helvetica, Arial, sans-serif;
}
a.article-author {
    margin-bottom: 10px;
}

a.article-header {
    font-weight: bold;
}

div.ui-draggable #gallery-link {
    margin-bottom: 15px;
}

div#content h2 {
    font-size: 20px;
    line-height: 25px;
    font-family:  Helvetica, Arial, sans-serif;
}
div#content p {
    font-size: 16px;
    line-height: 24px;
}

.tag-description-text {
    font-size: 16px;
    line-height: 24px;
    font-family: serif;
    margin-top: 40px;
}
.left-padding {
    padding-left: 15px;
}
/**
 * End settings for the text view
 */



/**
 * Settings for the drag view
 */

div.ui-draggable {
    overflow: hidden;
}

div.drag-view-article:hover #text p.article-body,
div.drag-view-image:hover #text p.article-body {
    display: inline;
    font-size: 16px;
    line-height: 24px;
    font-family: Georgia, serif;
}


a.drag-comment-header,
a.drag-annotation-header {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 24px;
}
a.drag-annotation-header, a.annotation-header {
    background: yellow;
}

div.text-view-article p.article-body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
}

p.article-body {
    margin-bottom: 0px;
}

div#drag-view a.comment-header,
div#drag-view a.annotation-header {
    font-size: 16px;
    line-height: 24px;
}

div.drag-view-article,
div.drag-view-image,
div.drag-view-comment,
div.drag-view-annotation {
    margin: 0px;
    float: left;
    background: none;
    border: none;
    color: black;
}
div.drag-view-comment,
div.drag-view-annotation {
    background: transparent;
    max-width: 360px;
    min-width: 100px;
}

div.drag-view-article div#text,
div.drag-view-image div#text,
div.drag-view-comment div#text,
div.drag-view-annotation div#text {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14.7px;
    line-height: 17px;
}

div.drag-view-comment .drag-comment-header p,
div.drag-view-annotation .drag-annotation-header p {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 24px;
}


div.drag-view-comment .content-type span,
div.drag-view-annotation .content-type span,
div.drag-view-article .article-author,
div.drag-view-article .article-header,
div.drag-view-article .article-subtitle,
div.drag-view-article .image-header,
div.drag-view-article .content-type span,
div.drag-view-article #drag-view-tags,
div.drag-view-image .article-author,
div.drag-view-image .article-header,
div.drag-view-image .article-subtitle,
div.drag-view-image .image-header,
div.drag-view-image .content-type span,
div.drag-view-image #drag-view-tags,
#drag-comment-info,
#drag-annotation-info {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14.7px;
    line-height: 17px;
}


div.text-view-article-one p.article-body a,
div.text-view-article-one a.article-header,
div.text-view-article-one p.content-type span,
div.text-view-comment-one p.content-type span,
div.text-view-annotation-one p.content-type span,
.comment .documentByLine,
.comment .commentDate,
.comment .commentBody {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14.7px;
    line-height: 20px;
}
div.text-view-comment-one a.comment-header,
div.text-view-annotation-one a.annotation-header {
    font-size: 16px;
    line-height: 20px;
    font-family: Georgia, serif;
}


div.drag-view-article a,
div.drag-view-image a,
div.drag-view-comment a,
div.drag-view-annotation a {
    color: black;
    text-decoration: none;
}

div.drag-view-article p,
div.drag-view-image p,
div.drag-view-comment p,
div.drag-view-annotation p {
    color: black;
}

div.drag-view-comment p,
div.drag-view-annotation p {
    font-family: Georgia, serif;
}

div.drag-view-article:hover,
div.drag-view-image:hover,
div.drag-view-comment:hover,
div.drag-view-comment.ui-draggable-dragging,
div.drag-view-annotation:hover,
div.drag-view-annotation.ui-draggable-dragging {
    background-color: white;
}

div.drag-view-article div#drag-view-type p.content-type,
div.drag-view-image div#drag-view-type p.content-type {
    margin-bottom: 0;
}

div.drag-view-article div#drag-view-tags,
div.drag-view-image div#drag-view-tags {
    color: blue;
    margin-bottom: 20px;
}

/*Hide/show stuff on hover and when dragging*/
div.drag-view-article a,
div.drag-view-article p,
div.drag-view-image a,
div.drag-view-image p {
/*div.drag-view-comment div#drag-view-type,
div.drag-view-article div#drag-view-tags {*/
    display: none;
}

/*Change everything to block
Link should be changed to inline-block so it doesn't stretch over whole div*/

/*div.drag-view-article img,*/
div.drag-view-article:hover #text #drag-view-tags,
div.drag-view-image:hover #text #drag-view-tags {
/*div.drag-view-comment:hover div#drag-view-type,
div.drag-view-comment.ui-draggable-dragging div#text,
div.drag-view-comment.ui-draggable-dragging div#drag-view-type {*/
    display: block;
}

div.drag-view-article:hover #text #gallery-link a,
div.drag-view-article:hover #text #drag-view-type p,
div.drag-view-article:hover #text #drag-view-tags-list,
div.drag-view-article:hover #text p.article-body,
div.drag-view-image:hover #text #gallery-link a,
div.drag-view-image:hover #text #drag-view-type p,
div.drag-view-image:hover #text #drag-view-tags-list,
div.drag-view-image:hover #text p.article-body {
    display: inline;
    padding-left: 0px;
    padding-right: 0px;
    background: white;
    box-shadow: 5px 0 0 white,-5px 0 0 white;
    -moz-box-shadow: 5px 0 0 white,-5px 0 0 white;
    -webkit-box-shadow: 5px 0 0 white,-5px 0 0 white;
}
div.drag-view-article.ui-draggable-dragging div#text,
div.drag-view-article div#drag-view-tags,
div.drag-view-article.ui-draggable-dragging div#drag-view-tags,
div.drag-view-article.ui-draggable-dragging p,
div.drag-view-image.ui-draggable-dragging div#text,
div.drag-view-image div#drag-view-tags,
div.drag-view-image.ui-draggable-dragging div#drag-view-tags,
div.drag-view-image.ui-draggable-dragging p {
    display: none;
}

div.drag-view-comment a p,
div.drag-view-annotation a p {
    display: inline;
}

/*Must be after the previous one so it is not overwritten*/
div.drag-view-article.ui-draggable-dragging,
div.drag-view-image.ui-draggable-dragging {
    border: 0;
    background: transparent;
}
div.drag-view-article.ui-draggable-dragging img,
div.drag-view-image.ui-draggable-dragging img  {
    display: block;
}

div#articles_list img {
    max-width: 600px;
    max-height: 600px;
}

div.drag-view-article img,
div.drag-view-image img{
    /*max-width: none;
    max-height: none;*/
    z-index: 0;
    position: absolute;
}
div.drag-view-article #text,
div.drag-view-image #text {
    position: absolute;
}
div.drag-view-article #text #gallery-link a,
div.drag-view-article #text #drag-view-type p,
div.drag-view-article #text #drag-view-tags-list,
div.drag-view-article #text .article-body,
div.drag-view-image #text #gallery-link a,
div.drag-view-image #text #drag-view-type p,
div.drag-view-image #text #drag-view-tags-list,
div.drag-view-image #text .article-body {
    background-color: white;
}

/**
 * End settings for the drag view
 */


/* XXX: do we need display: table; for editing interface? Because it breaks
 boostrap layout..
*/
/*.template-home #content-columns {*/
#content-columns {
    display: block;
}

/**
 * Settings for portlet
 */

/* XXX: temporary, sorting dropdown shouldn't be in the sidebar */
#form-widgets-sort_on-noform {
    width: 100%;
}

#form-widgets-sort_on {
    width: auto;
    padding: 0;
}

#results-num {
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 16px;
    font-size: 12px;
}
#topside-content-sort_on #formfield-form-widgets-sort_on {
    display: inline-block;
    margin-bottom: 5px;
}
#topside-content-name #articles-header {
    margin-bottom: 5px;
}
#topside-content-sort_on #formfield-form-widgets-sort_on label {
    display: none;
}

/* Fixed position for the sidebar (affix js doesn't seem to work
so we use this) */
.sidebar-nav-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}


@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
    #LSResult {
        display: none !important;
    }

}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

@media (max-width: 730px) {
    div#entrypage-home-link {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin-left: 0;
    }
}


input#form-buttons-text:hover, input#form-buttons-drag:hover {
    background-position: center;
    /*color: #333;*/
    /*text-decoration: none;*/
}

input#form-buttons-filter{
    display: block;
}

div#left-column-content {
    padding: 0;
}

div#sidebar-portlet {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 20px;
}
div#sidebar-portlet ul {
    margin-bottom: 0;
}
div#sidebar-portlet ul#tags-list {
    margin-bottom: 20px;
}
div#sidebar-portlet form {
    margin-bottom: 0;
}
div#sidebar-portlet .formControls,
div#sidebar-portlet #home-link {
    margin-left: 18px;
}

div#types-list {
    margin-top: 20px;
    text-transform: lowercase;
}
div#types-list input {
    margin-right: 5px;
}

div#sidebar-portlet a, div#topside-tags a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
div#sidebar-portlet a#show-all-tags {
    margin-left: 0px;
}
div#sidebar-portlet span a, div#topside-tags span a {
    margin-left: 0;
    margin-right: 0;
}

div#sidebar-portlet a#show-all-tags span {
    text-decoration: underline;
}

ul#all-tags-list li,
ul#selected-tags-list li,
ul#tags-list li,
div#selected-tags-list span {
    display: block;
}
div#selected-tags-list span {
    text-align: center;
}

ul#selected-tags-list li.selected {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ccc;
    margin-bottom: -1px;
    background: blue;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    color: white;
}
ul#selected-tags-list li.selected a {
    color: white;
}
ul#selected-tags-list li.selected span a {
    color: white;

}
span.selected {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ccc;
    margin-bottom: -1px;
    background: blue;
    color: white;
}

ul#tags-list li.selected a, ul#all-tags-list li.selected a{
    color: blue;
}

ul#all-tags-list {
    position: fixed;
    z-index: 400;
    display: none;
    margin-top: 19px;
    margin-left: 125px;
    background-color: white;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 100px;
}
ul#all-tags-list li.all-tags-list-caption,
ul#all-tags-list li.all-tags-list-caption-first {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 5px;
}
ul#all-tags-list li.all-tags-list-caption-first {
    margin-top: 0px;
}


#all-tags-list-close {
    display: inline-block;
    cursor:pointer;
    position: absolute;
    float: right;
    right: 5px;
}
.bordered {
    border-style: solid;
    border-width: 2px;
    border-left-color: rgb(131, 131, 131);
    border-top-color: rgb(202, 202, 202);
    border-right-color: rgb(238, 238, 238);
    border-bottom-color: rgb(112, 112, 112);
    box-shadow: none;
    padding: 10px;
    padding-left: 15px;
}

#sidebar-section {
    width: 95px;
    background: white;
}

/*Hide the original form*/
/*For now, hide everything but the buttons*/
/*form.kssattr-formname-my-form {
    display: none;
}
*/
div#formfield-form-widgets-tags,
div#formfield-form-widgets-all_tags,
div#formfield-form-widgets-sort_on,
div#formfield-form-widgets-sort_order,
div#formfield-form-widgets-content_filters,
div#formfield-form-widgets-view_type,
div#formfield-form-widgets-query,
div#formfield-form-widgets-clicked_tag,
div#formfield-form-widgets-use_filters,
#form-widgets-sort_on-noform {
    display: none;
}

/*div.formControls {
    display: block;
}*/

/*Limit button (it's an image) size so it doesn't overflow*/
input#form-buttons-filter {
    display: none;
}

input#form-buttons-text {
    box-shadow: none;
    background-image: url(++theme++tribuna.diazotheme/img/textview-grey.jpg);
}
input#form-buttons-drag {
    box-shadow: none;
    background-image: url(++theme++tribuna.diazotheme/img/dragdrop-grey.jpg);
}

input#form-buttons-text.selected {
    box-shadow: none;
    background-image: url(++theme++tribuna.diazotheme/img/textview-black.jpg);
}
input#form-buttons-drag.selected {
    box-shadow: none;
    background-image: url(++theme++tribuna.diazotheme/img/dragdrop-black.jpg);
}
input#form-buttons-text, input#form-buttons-drag {
    width: 12px;
    height: 12px;
    /*margin-right: 10%;
    margin-top: 5%;
    */
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: white;
    background-position: center;
    background-size: 100%;
}

/*Hide the label at the selector on top of site*/
div#formfield-form-widgets-sort_on-noform label {
    display: none;
}
div#formfield-form-widgets-sort_on-noform {
    margin: 0;
    padding: 0;
}
/**
 * End settings for portlet
 */



/**
 * Content
 */
ul.content-list {
    margin: 1em 0 0 1em;
}

ul.content-list li {
    margin-bottom: 1em;
}

.red {
    color: red;
}

div#homepage-div {
    /*min-height: 600px;*/
    height: 100%;
    max-width: 100%;
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    /*border:1px solid red;*/
}

div#tag-description-div {
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 600px;
    float: left;
    position: relative;
    /*border:1px solid red;*/
}

#scroll {
    background-image: url(++theme++tribuna.diazotheme/img/arrowBlackDown.png);
    background-size: 100%;
    background-color: white;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.plusminus {
    width: 7px;
}
div#sidebar-portlet .plusminus {
    margin-left: 5px;
    margin-right: 5px;
}
div#sidebar-portlet .selected .plusminus {
    margin-left: 6px;
    margin-right: 4px;
}

/**
 * End content
 */



/**
 * Overlay settings
 */
/*Need to remove the !important where they aren't needed :P*/
/*div.overlay-iframe{
    width: 95% !important;
    height: 95% !important;
    max-width: 95% !important;
    max-height: 95% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    left: 0 !important;
    top: 0 !important;
}

iframe{
    width: 100% !important;
    height: 100% !important;
    border: 1px solid;
    border-radius: 10px;
}*/
/**
 * End overlay settings
 */

/**
 * Articles (aka main) page
 */
#header.slider-header {
    border-bottom: 1px solid black;
    margin-top: 10px;
    position: relative;
}
.content-slider-wrapper {
    padding: 0 30px;
}
.content-slider ul li {
    display: block;
    float: left;
    width: 220px;
}
.content-slider.responsive {
	width: auto;
	margin-left: 0;
}
.content-slider .item-inner {
    padding: 10px 30px 10px 10px;
    margin-right: 20px;
    height: 40px;
}
.content-slider .item-inner > div {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}
.content-slider .item-inner p {
    margin: 0;
}
.content-slider ul li.selected .item-inner {
    border: 1px solid blue;
}
.caroufredsel_wrapper {
    margin-left: 0 !important;
}
.clearfix {
	float: none;
	clear: both;
}
.prev,
.next {
    position: absolute;
    top: 14px;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
#article-navigation .next,
#article-navigation .prev {
    position: fixed;
    top: 50%;
}
img.navigate {
    width: 30px;
}
#close-articles {
    float: right;
    margin-top: 10px;
    margin-right: -12px;
}
.template-articles #main {
    margin-top: 30px;
}
.article-display-options {
    background-color: yellow;
    width: auto;
    position: absolute;
    right: 20px;
    margin: 0px;
    padding: 0px 10px;
}
.article-display-options label {
    margin: 0px;
    padding: 0px;
    display: inline;
}
.article-display-options label span {
    font-size: 11px;
    line-height: 11px;
}
/* We have 5px less then in the design, so it looks like in the design in the
end */
input.activate-text {
    margin-right: 30px;
}
input.activate-comments {
    margin-right: 35px;
}
.comment-text,
.annotation-text {
    color: black;
}
/* Hide content actions in article body (they're rendered with a view
and moved with diazo to the proper place). Normal content actions viewlet
doesn't work because we don't have a real article context.
XXX: Remove this if we drop the fancy ajax loading of articles. */
#article #content-actions {
    display: none;
}
.article-image {
    margin-bottom: 40px;
}
.article-image img {
    height: auto;
    width: 1000px;
    max-width: 100%;
    max-height: 1000px;
}
.article-heading {
    padding: 0;
    margin-bottom: 10px;
}

/*XXX: Naj bosta res oba enako velika?*/
.article-heading h2, .article-heading h3 {
    font-size: 20px;
    line-height: 25px;
    font-family: Helvetica, Arial, sans-serif;
}

#article #commenting {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    border: none;
}

#article-comment,
#article-annotation {
    width: 650px;
    margin: 0 auto;
    border: none;
    margin-top: 120px; /*top already has 30px margin*/
    padding-top: 0;
    float: none;
}
#article-annotation div.fit-text p {
    background: yellow;
    display: inline;
}


ul.token-input-list-facebook {
    width: 100%;
    visibility: visible !important;
}

#comment-info, #article-info, #image-info, #annotation-info {
    margin-bottom: 0;
    margin-top: 15px;
}
#comment-info,
#comment-tags-info,
.redTag,
.oneCommentTag,
#annotation-info,
#annotation-tags-info,
.annotationTag {
    font-family: Helvetica, Arial, sans-serif;
}
.fit-text {
    padding-top: 1px;
}
.articleTag, .oneCommentTag, .annotationTag {
    color: blue;
}
/**
 * End of articles (aka main) page
 */


/**
 * Various settings
 */
/*#login-form div.field input {
    height: 25px;
    width: 200px;
}*/

.title a {
    color: black;
    cursor: pointer;
}
.content-core .heading {
    margin-bottom: 3em;
}
.content-core .heading h2 {
    line-height: 1em;
}
.content-core .description {
    font-style: italic;
    margin-bottom: 2em;
    padding-top: 10px;
}
div.full-width {
    width: 100%;
}

div.half-width {
    width: 50%;
}

/* Hide top nav for annonymous users */
.userrole-anonymous .navbar {
    display: none;
}

#left-column-content,
#right-column-content,
#right-column .portlet-header,
#left-column .portlet-header {
    border: none;
}

#left-column,
#right-column {
    margin-top: 0;
    padding: 0;
}

.more-link {
    padding: 0.5em 0 0 1em;
}

#content a.link-overlay {
    border-bottom: none !important;
}
/**
 * End various settings
 */


/**
 * Comments
 */

.comment  {
    font-size: 100%;
    margin-top: 1em;
    display: block;
    clear: both;
}
.discussion {
    font-family:  Helvetica, Arial, sans-serif;
}
#comments input[type='text'] {
    height: 4em;
    margin-bottom: 0;
}
#comments input[type='button'] {
    vertical-align: top;
}
.comment .documentByLine {
    font-weight: bold;
    float: none;
    margin-left: 0;
    margin-bottom: 0;
}
.commentBody {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    float: none;
}

.commentBody p{
    /*margin: 1em 0 0 1em;*/
    padding: 0;
    box-shadow: none;
    border: none;
    /*float: none;*/
}

.commentDate {
    font-weight: bold;
    font-size: 100%;
    color: black;
    float: none;
    margin-left: 0;
    padding:0;
}
.commentTag,
li.token-input-token-facebook {
    background: white;
    color: blue;
    border: 1px solid blue;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: auto;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}
li.token-input-token-facebook span.token-input-delete-token-facebook {
    color: blue;
}

.comment  ul{
   margin-left:0;
}

.replyTreeLevel1 {
    margin-left: 1em;
}
#add-comment textarea {
    width: 260px;
}

.context.reply-to-comment-button {
    background-color: white;
    padding:0;
    padding-left: 2%;
    padding-right: 2%;
    float: right;
}

#form-buttons-comment, #form-buttons-cancel {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    background-color: white;
    box-shadow: 2px 2px 1px #888888;
    color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:0;
    padding-left: 2%;
    padding-right: 2%;
}
.replyTreeLevel0 {
    margin-left: 0px;
}
.replyTreeLevel1 {
    margin-left: 20px;
}
.replyTreeLevel2 {
    margin-left: 40px;
}
.replyTreeLevel3 {
    margin-left: 60px;
}
.replyTreeLevel4 {
    margin-left: 80px;
}
.replyTreeLevel5 {
    margin-left: 100px;
}
.replyTreeLevel6 {
    margin-left: 120px;
}
.replyTreeLevel7 {
    margin-left: 140px;
}
.replyTreeLevel8 {
    margin-left: 160px;
}
.replyTreeLevel9 {
    margin-left: 180px;
}
.replyTreeLevel10 {
    margin-left: 200px;
}
/*.submit-widget.button-field {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    background-color: white;
    box-shadow: 2px 2px 1px #888888;
}*/

a.content-link,
a.content-link:hover {
    color: black;
    font-weight: bold;
}

div.articles-article-body div.fit-text,
div#article-annotation div.fit-text p {
    font-family: Georgia, serif;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 35px;
}

div.articles-article-body a.content-link,
div.articles-article-body div#comment-info,
div.articles-article-body div#annotation-info,
div.articles-article-body div#comment-tags-info p.oneCommentTag,
div.articles-article-body div#annotation-tags-info p.annotationTag,
div.articles-article-body div.red {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin: 0px;
    padding: 0px;
}



/**
 * End of comments
 */

/**
 * Gallery view
 */


div.articles-comments {
    height: 100%;
}

.navbar-fixed-top {
    position: relative;
}

.gv-frame.current {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid blue;
}

.gv-frame {
    height: 60px !important;
    /*margin: 0 !important;*/
    margin-top: 10px !important;
}

.gv-panel_wrap {
    border-top: 1px solid black;
    margin-top: -5px;
}

/*.gv-nav-next {
    right: 5px !important;
}

.gv-nav-prev {
    left: 5px !important;
}

.gv-filmstrip {
    left: 50px !important;
}*/

.articles-article-body, p.fit-text {
    font-size: 16px;
    line-height: 24px;
}
.articles-article-body {
    height: 100%;
}
.article-text li {
    display: list-item;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}
.discussion {
    font-size: 15px;
    line-height: 21px;
}
.reply {
    margin-top: 40px;
    clear: both;
}
#formfield-form-widgets-comment-text label {
    display: none;
}

div.discussion div.comment div.commentBody {
    margin-bottom: 20px;
}

.articles-comments .formControls {
    margin-right: 0;
    text-align: right;
}
#commenting textarea, .articles-comments textarea {
    width: 98%;
    height: 70px;
}
#commenting form input#form-widgets-author_name,
.discussion form input#form-widgets-author_name,
#commenting form textarea,
.discussion form textarea,
#commenting form ul,
.discussion form ul {
    width: 330px;
}

#commenting form textarea,
.discussion form textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
}

.comment .commentTag,
li.token-input-token-facebook {
    font-size: 12.5px;
    margin-right: 12px;
    margin-bottom: 12px;
    font-family: Helvetica, Arial, sans-serif;
}
.twitter-share, .facebook-share,
.context.reply-to-comment-button
 {
    display: none;
}
.twitter-share, .facebook-share {
    height: 20px;
    width: 20px;
    margin: 2px;
    margin-top: 3px;
}

.comment ul {
    visibility: hidden;
}

#commenting .formControls {
    margin-left: 0;
}

#commenting .submit-widget,
#discussion .submit-widget  {
    float:left;
    margin-left: 0;
}

#commenting input[type="submit"], .discussion button,
#commenting .submit-widget,
#discussion .submit-widget  {
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: none;
    letter-spacing: 0.075em;
    font-size: 12.5px;
}
#commenting input[type="submit"], .discussion button, .article-display-options,
#commenting .submit-widget,
#discussion .submit-widget  {
    box-shadow: none;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

/**
 * Basic site setup
 */

div#center-column, div#content {
    margin-top: 0;
    padding: 0;
    font-family: Georgia, serif;
}

.gv-panel #selected-tags-list span {
    padding-left: 15px;
}

/**
 * End basic site setup
 */

.twitter-share, .facebook-share {
    float:right;
    margin-left: 12px;
}

/**
 * Search
 */
#search-form {
    margin-bottom: 30px;
}
#search-form-right.top {
    position: absolute;
    top: 10px;
    right: 20px;
}
#search-form-right .formControls input {
    display: none;
}

#search-form label, #search-form-right label {
    display: none;
}
#search-form-right .formControls {
    display: none;
}

#search-form-right form {
    float: right;
    width: auto;
}
#search-button {
    margin-bottom: 19px;
}
#search-form-right #search-button {
    display: none;
}
#search-form form, #search-form .formControls, #search-form .LSBox {
    display:inline;
}
#search-form form div .text-widget.required.textline-field,
#search-form-right form div .text-widget.required.textline-field,
#search-form-right #searchGadget,
#search-form #searchGadget{
    border-width: 2px;
    border-right-color: rgb(167, 167, 167);
    border-top-color: rgb(218, 218, 218);
    border-left-color: rgb(238, 238, 238);
    border-bottom-color: rgb(112, 112, 112);
    box-shadow: none;
    border-radius: 0;
    /*padding: 10px;
    padding-left: 15px;*/
    -webkit-box-sizing: border-box;
/*    -moz-box-sizing: border-box;*/
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
}
#search-form-right #searchGadget,
#search-form #searchGadget {
    width: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#search-form #searchGadget {
    height: 30px;
}
#search-form form div .submit-widget.button-field {
    background-color: Cyan;
    color: black;
    height: 1.5em;
}
#search-button:hover {
    border-top-color: Cyan;
    background: Cyan;
    color: Cyan;
}
.LSBox {
    position: relative;
}
#LSResult {
    margin: 0 0 0 -7em;
    z-index: 1000;
    /*display: block !important;*/
}
.LSTable {
    margin: 0;
}
#center-column #LSResult {
    left: 90px;
    right: auto;
}

#center-column .advancedsearchlink {
    display: none;
}
#LSResult fieldset {
    padding: 0;
    border: 0;
}
#LSResult a {
    color: black;
    text-decoration: underline;
}
.LSRow img {
    display: none;
}
#livesearchLegend {
    background-color: white;
    font-size: 14px;
    padding: 0.2em;
    margin-bottom: 10px;
}
#search-form label#search-use-filters-label {
    display: inline;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;

}

/**
 * End search
 **/


/*MOBILE*/

@media only screen and (max-width: 760px) {
  #form-buttons-drag { display: none; }
}


/* ANNOTATOR */
div.annotator-editor textarea#annotator-field-0,
div.annotator-editor span.annotator-resize {
    display: none;
}

div.annotator-editor form.annotator-widget {
    width: 150px;
    min-width: 150px;
    height: 100px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid black;
    background: white;
}

div.annotator-editor input#annotator-field-1 {
    background: white;
    height: 15px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding: 0px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 115px;
    min-width: 115px;
    border: 1px solid black;
}

div.annotator-editor div.annotator-controls {
    background: white;
    border: none;
    padding: 0px;
    margin: 0px;
}

div.annotator-editor div.annotator-controls a.annotator-cancel {
    display: none;
}

div.annotator-editor div.annotator-controls a.annotator-save {
    background: yellow;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid black;
    float: left;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    height: 20px;
    width: 90px;
    color: black;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 0.075em;
}

div.annotator-editor div.annotator-controls a.annotator-save::after,
div.annotator-editor form.annotator-widget::after,
div.annotator-editor a.facebook-share-annotator::after,
div.annotator-editor a.twitter-share-annotator::after {
    display: none;
}

div.annotator-viewer {
    display: none;
}

div.annotator-editor a.facebook-share-annotator,
div.annotator-editor a.twitter-share-annotator {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    float: left;
    margin: 0px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
    height: 15px;
    width: 15px;
}

div.annotator-editor a.facebook-share-annotator {
    clear: left;
}

div.annotator-editor a.twitter-share-annotator {
    margin-left: 10px;
}

div.annotator-editor a.facebook-share-annotator img,
div.annotator-editor a.twitter-share-annotator img {
    width: 15px;
    height: 15px;
}

div.annotation-tags a {
    color: blue;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: solid 1px blue;
    padding: 5px;
    font-size: 12px;
    line-height: 12px;
    margin-right: 15px;
    margin-top: 10px;
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
}
div.annotation-tags a.selected {
    color: white;
    background: blue;
}

p.annotation-selected-quote-text {
    padding: 0px;
    margin: 0px;
}

div.annotation-selected-quote-divider {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 50px;
    border-bottom: 4px solid black;
    margin-bottom: 30px;
}

div.annotation-tags-header {
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

/*div.annotation-tags,
div.annotation-tags-header {
    display: none;
}*/

/* Misc */
#form-widgets-subtitle,
#form-widgets-article_author {
    width: 100%;
}

.template-view.portaltype-tribuna-content-tag #commenting {
    display: none;
}
.cc-cookies {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: Impact;
    font-size: 150px;
    color: blue;
    width: 1000px;
    height: 350px;
    text-align:center;
    line-height: 90%;
    background-color: black;
}

.cc-cookies p {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding-left: 3%;
    padding-right: 3%;
}

.cc-cookies a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline {
    width: 100px;
    height: 100px;
    margin-left: 350px;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.cc-cookies a.cc-cookie-accept {
    color: green;
}

.cc-cookies a.cc-cookie-decline {
    margin-top: 20px;
    color: red;
}
.cc-cookies a.cc-cookie-accept:hover, .cc-cookies a.cc-cookie-decline:hover {
    color: white;
    background: none;
    padding: none;
    border-radius: none;
    box-shadow: none;
}

/*Error message for articles*/
.tribuna-error-message {
    display: none;
    margin-top: 20px;
}
