/**
 * Global settings
 */

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#entrypage-form #form-widgets-picture-input {
    padding: 0;
    box-shadow: none;
    border: none;
}

#entrypage-form .field input {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    /*padding: 10px;
    padding-left: 15px;*/
    box-shadow: 2px 2px 1px #888888;
    -webkit-box-sizing: border-box;
/*    -moz-box-sizing: border-box;*/
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 95%;
}



.submit-widget.button-field {
    color: white;
    background-color: blue;
    background-image: none;
}


/**
 * Entry page
 */

#entrypage-form-container {
    background-color: cyan;
    margin: 20px 0 0;
    padding: 0.75em;
    width: 9em;

}

#entrypage-form-container.expanded {
    background-color: white;
    width: auto;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    padding: 10px;
    padding-left: 15px;
    box-shadow: 2px 2px 1px #888888;
    z-index: 99;
}

#entrypage-form-container a {
    color: black;
    font-weight: bold;
}

#entrypage-form-container #entrypage-link {
    font-weight: normal;
    cursor: pointer;
}

#entrypage-form-container.expanded #entrypage-link {
    color: red;
}

#entrypage-form .accordion {
    margin-top: 2em;
}

#entrypage-form .accordion-group {
    border: none;
}

#entrypage-form .accordion-heading .accordion-toggle {
    padding: 0;
}

div.entrypage-text-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin:10% 10% 10% 10%;
    z-index: -1;

}
#entrypage-author-title {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#entrypage-author {
    font-weight: bold;
    font-style: italic;
}

#entrypage-title {
    font-weight: bold;
}

}
#entrypage-text {
    z-index: -1;
}

#entrypage-home-link {
    background-color: cyan;
    margin: 20px 0 0;
    padding: 0.75em;
    width: 9em;
}

#entrypage-home-link a {
    color: black;
}

#text-container p{
    text-align: center;
    color:#000;
    font: 95px/1 "Times New Roman";
    display: block;
    /*text-shadow:#000000 -1px 1px 0,
    #000000 -2px 2px 0,
    #000000 -3px 3px 0,
    #000000 -4px 4px 0;*/
}

#text-container p.arial {
    font-family: Arial;
}

#text-container p.helvetica {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

#form-widgets-picture-input {
     border-style: none;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    padding: 0;
    padding-left: 15px;
    box-shadow: none;
}
/**
 * End entry page
 */



/**
 ************************************
 *                                  *
 *           HOME PAGE              *
 *                                  *
 ************************************
 */

/**
 * Settings for the header
 */
div#topside-tags {
    margin-left: 0;
}
div#selected-tags {
    padding-left: 15px;
}
div#topside-content {
    float: right;
}
/**
 * End settings for the header
 */

/**
 * Settings for the text view
 */
div.text-view {
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    background: none;
    border: none;
}
div.text-view-article,
div.text-view-comment,
div.text-view-article-one,
div.text-view-comment-one,
div#articles h5 {
    font-size: 20px;
    line-height: 25px;
    font-family: sans-serif;
}
div.text-view-comment, div.text-view-comment-one {
    font-family: serif;
}
div.text-view-article-one, div.text-view-comment-one {
    font-size: 15px;
    line-height: 20px;
}
h3.portlet-header {
    font-size: 20px;
    line-height: 25px;
}


div.text-view a, div.text-view p {
    color: black;
    margin-bottom: 0;
}

div#gallery-link p, {
    color: black;
    margin-bottom: 0;
}

a.article-header {
    font-weight: bold;
    margin-bottom: 15px;
}

div#content h2 {
    font-size: 20px;
    line-height: 25px;
}
div#content p {
    font-size: 16px;
    line-height: 24px;
}
/**
 * End settings for the text view
 */



/**
 * Settings for the drag view
 */

a.comment-header {
    font-family: serif;
}
p.article-body {
    margin-bottom: 0px;
}
div#drag-view a.comment-header {
    font-size: 16px;
    line-height: 24px;
}

div.drag-view-article, div.drag-view-comment {
    margin: 0px;
    float: left;
    background: none;
    border: none;
    color: black;
}
div.drag-view-comment {
    background: white;
}

div.drag-view-article div#text, div.drag-view-comment div#text {
    padding: 15px;
    font-size: 15px;
    line-height: 17px;
}

div.drag-view-article a, div.drag-view-comment a {
    color: black;
    text-decoration: none;
}

div.drag-view-article p, div.drag-view-comment p{
    color: black;
}

div.drag-view-article:hover,
div.drag-view-comment:hover,
div.ui-draggable-dragging {
    background-color: #E8E8E8;
    border: 1px solid black;
}

div.drag-view-article div#drag-view-tags {
    color: blue;
    margin-bottom: 20px;
}

/*Hide/show stuff on hover and when dragging*/
div.drag-view-article a,
div.drag-view-article p,
div.drag-view-article:hover img,
div.drag-view-comment div#drag-view-type,
div.drag-view-article div#drag-view-tags {
    display: none;
}

/*Change everything to block
Link should be changed to inline-block so it doesn't stretch over whole div*/
div.drag-view-article:hover p,
div.drag-view-article img,
div.drag-view-comment:hover div#drag-view-type,
div.drag-view-article:hover div#drag-view-tags,
div.ui-draggable-dragging div#drag-view-type,
div.ui-draggable-dragging div#drag-view-tags,
div.ui-draggable-dragging p {
    display: block;
}
div.drag-view-article:hover a,
div.ui-draggable-dragging a {
    display: inline-block;
}
div.drag-view-comment a {
    display: block;
}

/*Must be after the previous one so it is not overwritten*/
div.ui-draggable-dragging img {
    display: none;
}
/**
 * End settings for the drag view
 */



/**
 * Settings for portlet
 */

input#form-buttons-filter{
    display: block;
}

div#left-column-content {
    padding: 0;
}

div#sidebar-portlet {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
}
div#sidebar-portlet ul {
    margin-bottom: 0;
}

div#types-list {
    margin-top: 20px;
}
div#types-list input {
    margin-right: 5px;
}

div#sidebar-portlet a, div#topside-tags a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
div#sidebar-portlet a#show-all-tags {
    margin-left: 17px;
}
div#sidebar-portlet span a, div#topside-tags span a {
    margin-left: 0;
    margin-right: 0;
}

div#sidebar-portlet a#show-all-tags span {
    text-decoration: underline;
}

ul#all-tags-list li,
ul#selected-tags-list li,
ul#tags-list li,
div#selected-tags-list span {
    display: block;
}

ul#selected-tags-list li.selected {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ccc;
    margin-bottom: -1px;
    background: blue;
    margin: 0;
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
ul#selected-tags-list li.selected a {
    color: white;
}
ul#selected-tags-list li.selected span a {
    color: white;

}
span.selected {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ccc;
    margin-bottom: -1px;
    background: blue;
    color: white;
}

ul#tags-list li.selected a, ul#all-tags-list li.selected a{
    color: blue;
}

ul#all-tags-list{
    position: absolute;
    z-index: 400;
    display: none;
    margin-top: 15px;
/*    margin-left: 100%;
    width: 100%;
    height: 100%;*/
    background-color: white;
    padding: 20px;
}

.bordered {
    border-style: solid;
    /*border-width: 1px 1px 1px 1px;*/
    border-width: 1px;
    border-color: #ccc;
    padding: 10px;
    padding-left: 15px;
    box-shadow: 2px 2px 1px #888888;
}

/*Hide the original form*/
/*For now, hide everything but the buttons*/
/*form.kssattr-formname-my-form {
    display: none;
}
*/
div#formfield-form-widgets-tags,
div#formfield-form-widgets-all_tags,
div#formfield-form-widgets-sort_on,
div#formfield-form-widgets-sort_order,
div#formfield-form-widgets-content_filters {
    display: none;
}

/*div.formControls {
    display: block;
}*/

/*Limit button (it's an image) size so it doesn't overflow*/
input#form-buttons-filter {
    display:block;
}

input#form-buttons-text, input#form-buttons-drag {
    width: 22px;
    height: 22px;
    margin-right: 10%;
    margin-top: 5%;
}

/*Hide the label at the selector on top of site*/
div#formfield-form-widgets-sort_on-noform label {
    display: none;
}
div#formfield-form-widgets-sort_on-noform {
    margin: 0;
    padding: 0;
}
/**
 * End settings for portlet
 */



/**
 * Content
 */
ul.content-list {
    margin: 1em 0 0 1em;
}

ul.content-list li {
    margin-bottom: 1em;
}

.red {
    color: red;
}

div#homepage-div {
    min-height: 600px;
    max-width: 100%;
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    /*border:1px solid red;*/
}

div#tag-description-div {
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 600px;
    float: left;
    position: relative;
    /*border:1px solid red;*/
}
/**
 * End content
 */



/**
 * Overlay settings
 */
/*Need to remove the !important where they aren't needed :P*/
div.overlay-iframe{
    width: 95% !important;
    height: 95% !important;
    max-width: 95% !important;
    max-height: 95% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    left: 0 !important;
    top: 0 !important;
}

iframe{
    width: 100% !important;
    height: 100% !important;
    border: 1px solid;
    border-radius: 10px;
}
/**
 * End overlay settings
 */

/**
 * Content slider
 */
.slider-header {
    border-bottom: 1px solid black;
    margin: 50px auto 0;
}
.content-slider ul {
    margin: 0 0 0 10px;
    display: inline-block;
}
.content-slider ul li {
    display: inline-block;
    height: 40px;
    padding: 20px 0;
    width: 220px;
}
.navigate {
    display: inline-block;
}
.navigate a {
    /* XXX: this is a bit silly, test if it works in all browsers */
    vertical-align: bottom;
}
.navigate img {
    width: 30px;
}
/**
 * End of content slider
 */


/**
 * Various settings
 */
#login-form div.field input {
    height: 25px;
    width: 200px;
}

.title a {
    color: black;
    cursor: pointer;
}
#content .heading {
    margin-bottom: 3em;
}
#content .heading h2 {
    line-height: 1em;
}
#content .description {
    font-style: italic;
    margin-bottom: 2em;
}
div.full-width {
    width: 100%;
}

div.half-width {
    width: 50%;
}

/* Hide top nav for annonymous users */
.userrole-anonymous .navbar {
    display: none;
}

#left-column-content,
#right-column-content,
#right-column .portlet-header,
#left-column .portlet-header {
    border: none;
}

#left-column,
#right-column {
    margin-top: 1em;
}

.more-link {
    padding: 0.5em 0 0 1em;
}

#content a.link-overlay {
    border-bottom: none !important;
}
/**
 * End various settings
 */


/**
 * Comments
 */

.comment  {
    font-size: 100%;
}
#comments input[type='text'] {
    height: 4em;
    margin-bottom: 0;
}
#comments input[type='button'] {
    vertical-align: top;
}
.comment .documentByLine {
    font-weight: bold;
    float: none;
    margin-left: 0;
}
.commentBody {
    margin: 1em 0 0 1em;
    padding: 0;
    box-shadow: none;
    border: none;
    float: none;
}

.commentDate {
    font-weight: bold;
    font-size: 100%;
    color: black;
    float: none;
    margin-left: 0;
}
.commentTag {
    color: blue;
    border:1px solid blue;
    width: auto;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}

.comment  ul{
   margin-left:0;
}

.replyTreeLevel1 {
    margin-left: 1em;
}
#add-comment textarea {
    width: 260px;
}

.context.reply-to-comment-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    background-color: white;
    box-shadow: 2px 2px 1px #888888;
}

/*.submit-widget.button-field {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-width: 1px;
    border-color: #ccc;
    background-color: white;
    box-shadow: 2px 2px 1px #888888;
}*/
/**
 * End of comments
 */

/**
 * Gallery view
 */
.gv-frame.current {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border:1px solid blue;
}
/**
 * Basic sice setup
 */
div#left-column, div#right-column {
    margin-top: 10px;
    padding: 0;
}
div#center-column, div#content {
    margin-top: 0;
    padding: 0;
}

/**
 * End basic site setup
 */
