/* Entry page */
#entrypage-form-container {
    background-color: cyan;
    margin: 20px 0 0;
    padding: 0.75em;
    width: 9em;
}

#entrypage-form-container.expanded {
    background-color: white;
    width: auto;
}

#entrypage-form-container a {
    color: black;
}

#entrypage-form .accordion {
    margin-top: 2em;
}

#entrypage-form .accordion-group {
    border: none;
}

#entrypage-form .accordion-heading .accordion-toggle {
    padding: 0;
}

/* Content */
ul.content-list {
    margin: 1em 0 0 1em;
}
ul.content-list li {
    margin-bottom: 1em;
}
.red {
    color: red;
}

/* Hide top nav for annonymous users */
.userrole-anonymous .navbar {
    display: none;
}

#left-column-content,
#right-column-content,
#right-column .portlet-header,
#left-column .portlet-header {
    border: none;
}

#left-column,
#right-column {
    margin-top: 1em;
}

.more-link {
    padding: 0.5em 0 0 1em;
}

.bordered {
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #ccc;
    padding: 1em;
}